html, body {
    height: 100%;
}

body {
    min-height: 1000vh;
}

.app-main {
    background-image: linear-gradient(to top, rgba(255,248,220, 0.6), rgba(210,180,140, 0.6));
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    opacity: 0.8;

}
.navbar{
    background: rgba(0, 0, 0, 0.8);
}
